
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";


* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
fieldset {
    border: none;
}
nav {
    list-style-type: none;
}
.mat-toolbar.mat-primary {
    background: red;
}
